/**
 */
@import url(../../lib/font/brando-sans/stylesheet.css);
@import url(../../lib/font/lekton/stylesheet.css);
/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: #222;
  background-color: #222; }

.reveal {
  font-family: "Lekton", Helvetica, sans-serif;
  font-size: 22px;
  font-weight: normal;
  color: #003c5a; }

::selection {
  color: #fff;
  background: white;
  text-shadow: none; }

::-moz-selection {
  color: #fff;
  background: white;
  text-shadow: none; }

.reveal .slides > section,
.reveal .slides > section > section {
  line-height: 1.3;
  font-weight: inherit; }

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: #f05a23;
  font-family: "Brando Sans", Helvetica, sans-serif;
  font-weight: 200;
  line-height: 1.2;
  letter-spacing: normal;
  text-transform: none;
  text-shadow: none;
  word-wrap: break-word; }

.reveal h1 {
  font-size: 2.5em; }

.reveal h2 {
  font-size: 1.6em; }

.reveal h3 {
  font-size: 1.3em; }

.reveal h4 {
  font-size: 1em; }

.reveal h1 {
  text-shadow: none; }

/*********************************************
 * OTHER
 *********************************************/
.reveal p {
  margin: 20px 0;
  line-height: 1.3; }

/* Ensure certain elements are never larger than the slide itself */
.reveal img,
.reveal video,
.reveal iframe {
  max-width: 95%;
  max-height: 95%; }

.reveal strong,
.reveal b {
  font-weight: bold; }

.reveal em {
  font-style: italic; }

.reveal ol,
.reveal dl,
.reveal ul {
  display: inline-block;
  text-align: left;
  margin: 0 0 0 1em; }

.reveal ol {
  list-style-type: decimal; }

.reveal ul {
  list-style-type: disc; }

.reveal ul ul {
  list-style-type: square; }

.reveal ul ul ul {
  list-style-type: circle; }

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
  display: block;
  margin-left: 40px; }

.reveal dt {
  font-weight: bold; }

.reveal dd {
  margin-left: 40px; }

.reveal q,
.reveal blockquote {
  quotes: none; }

.reveal blockquote {
  display: block;
  position: relative;
  width: 70%;
  margin: 20px auto;
  padding: 5px;
  font-style: italic;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2); }

.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
  display: inline-block; }

.reveal q {
  font-style: italic; }

.reveal pre {
  display: block;
  position: relative;
  width: 90%;
  margin: 20px auto;
  text-align: left;
  font-size: 0.55em;
  font-family: monospace;
  line-height: 1.2em;
  word-wrap: break-word;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3); }

.reveal code {
  font-family: monospace; }

.reveal pre code {
  display: block;
  padding: 5px;
  overflow: auto;
  max-height: 400px;
  word-wrap: normal; }

.reveal table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0; }

.reveal table th {
  font-weight: bold; }

.reveal table th,
.reveal table td {
  text-align: left;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-bottom: 1px solid; }

.reveal table th[align="center"],
.reveal table td[align="center"] {
  text-align: center; }

.reveal table th[align="right"],
.reveal table td[align="right"] {
  text-align: right; }

.reveal table tbody tr:last-child th,
.reveal table tbody tr:last-child td {
  border-bottom: none; }

.reveal sup {
  vertical-align: super; }

.reveal sub {
  vertical-align: sub; }

.reveal small {
  display: inline-block;
  font-size: 0.6em;
  line-height: 1.2em;
  vertical-align: top; }

.reveal small * {
  vertical-align: top; }

/*********************************************
 * LINKS
 *********************************************/
.reveal a {
  color: #a5d2e6;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  transition: color .15s ease; }

.reveal a:hover {
  color: #e1f0f7;
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #69b4d5; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  border: 4px solid #003c5a;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); }

.reveal section img.plain {
  border: 0;
  box-shadow: none; }

.reveal a img {
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  transition: all .15s linear; }

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #a5d2e6;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls .navigate-left,
.reveal .controls .navigate-left.enabled {
  border-right-color: #a5d2e6; }

.reveal .controls .navigate-right,
.reveal .controls .navigate-right.enabled {
  border-left-color: #a5d2e6; }

.reveal .controls .navigate-up,
.reveal .controls .navigate-up.enabled {
  border-bottom-color: #a5d2e6; }

.reveal .controls .navigate-down,
.reveal .controls .navigate-down.enabled {
  border-top-color: #a5d2e6; }

.reveal .controls .navigate-left.enabled:hover {
  border-right-color: #e1f0f7; }

.reveal .controls .navigate-right.enabled:hover {
  border-left-color: #e1f0f7; }

.reveal .controls .navigate-up.enabled:hover {
  border-bottom-color: #e1f0f7; }

.reveal .controls .navigate-down.enabled:hover {
  border-top-color: #e1f0f7; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2); }

.reveal .progress span {
  background: #a5d2e6;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }

a,
.reveal a {
  pointer-events: auto;
  color: #f05a23; }

.has-dark-background {
  color: #a5d2e6; }

.reveal ul {
  margin: 20px 0;
  line-height: 1.3; }

.reveal small {
  vertical-align: initial; }

.reveal .slides {
  left: 15px;
  margin-left: 0;
  transform-origin: left; }

.reveal p, .reveal ul {
  width: 50%;
  height: 100%;
  text-align: justify;
  font-size: 20px; }

.reveal h1, h2, h3 {
  margin: 0 0 10px 0;
  width: 50%;
  text-align: left;
  font-size: 2em; }

.reveal .slides section .fragment {
  margin-left: -6px;
  border-left: 2px solid transparent;
  padding-left: 4px;
  opacity: 0.6;
  visibility: inherit;
  -webkit-transition: all .2s ease;
  transition: all .2s ease; }
  .reveal .slides section .fragment.current-fragment {
    border-left: 2px solid #f05a23;
    opacity: 1; }

hr {
  width: 50%;
  margin-left: 0;
  border: 1px solid #222; }

.left-panel {
  position: absolute;
  pointer-events: none;
  top: 0;
  bottom: 0;
  left: 0;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+45,0+100 */
  background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.85) 20%, rgba(0, 0, 0, 0.55) 70%, transparent 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.85) 20%, rgba(0, 0, 0, 0.55) 70%, transparent 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(0, 0, 0, 0.85) 20%, rgba(0, 0, 0, 0.55) 70%, transparent 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  transition: 300ms; }

.folded {
  width: 0; }

.unfolded {
  width: 50%; }

.slides
section {
  pointer-events: none !important; }

.next-control {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 30px;
  margin-bottom: 30px; }

.hidden {
  font-size: 0;
  display: none; }

.navigation {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer; }
  .navigation > i {
    border-color: #f05a23; }
  .navigation:hover > i {
    border-color: #003c5a; }
  .navigation.has-dark-background > span > i {
    border-color: #f05a23; }
  .navigation.has-dark-background:hover > span > i {
    border-color: #a5d2e6; }

.navigation-note {
  margin-right: 15px;
  font-family: "Lekton", Helvetica, sans-serif;
  color: #003c5a;
  text-align: right;
  width: 300px;
  transition: 300ms; }

i.arrow {
  border-style: solid;
  border-width: 0 3px 3px 0;
  padding: 15px;
  position: absolute;
  top: 33px;
  right: 39px;
  transition: 300ms; }

i.arrow.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg); }

i.circle {
  display: block;
  width: 90px;
  height: 90px;
  -webkit-border-radius: 60px;
  border-radius: 60px;
  border-width: 4px;
  border-style: solid;
  background: transparent;
  transition: 300ms; }

.background-control {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 30px;
  margin-top: 40px; }

.onoffswitch {
  position: relative;
  width: 98px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; }

.onoffswitch-checkbox {
  display: none; }

.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  height: 30px;
  padding: 0;
  line-height: 30px;
  border: 4px solid #f05a23;
  border-radius: 30px;
  background-color: transparent;
  transition: border-color 0.3s ease-in; }

.onoffswitch-label:before {
  content: "";
  display: block;
  width: 30px;
  margin: 0px;
  background: transparent;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 60px;
  border: 4px solid #f05a23;
  border-radius: 35px;
  transition: all 0.3s ease-in 0s; }

.onoffswitch-checkbox:checked + .onoffswitch-label {
  border-color: #003c5a; }

.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
  border-color: #003c5a; }

.onoffswitch-checkbox:checked + .onoffswitch-label:before {
  right: 0px; }

#warning-message {
  display: none; }

@media only screen and (orientation: portrait) {
  #warning-message {
    display: block; }
  .show-when-landscape {
    display: none; } }

@media only screen and (orientation: landscape) {
  #warning-message {
    display: none; } }
