/**
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url(../../lib/font/brando-sans/stylesheet.css);
@import url(../../lib/font/lekton/stylesheet.css);


// Override theme settings (see ../template/settings.scss)
$backgroundColor: #222;

$mainColor: rgb(00, 60, 90);
$lightMainColor: rgb(165, 210, 230);
$headingColor: rgb(240, 90, 35);

$mainFontSize: 22px;
$mainFont: 'Lekton', Helvetica, sans-serif;
$headingFont: 'Brando Sans', Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: none;
$headingFontWeight: 200;
$linkColor: $lightMainColor;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

a,
.reveal a {
	pointer-events: auto;
	color: $headingColor;
}

.has-dark-background {
	color: $lightMainColor;
}

.reveal ul {
  margin: 20px 0;
  line-height: 1.3;
}

.reveal small {
	vertical-align: initial;
}

.reveal .slides {
	left: 15px;
	margin-left: 0;
	transform-origin: left;
}

.reveal p, .reveal ul {
  width: 50%;
  height: 100%;
  // line-height: 1.3;
  text-align: justify;
  font-size: 20px;

}

.reveal h1, h2, h3 {
  margin: 0 0 10px 0;
	width: 50%;
	text-align: left;
	font-size: 2em;
}

.reveal .slides section .fragment {
	margin-left: -6px;
	border-left: 2px solid transparent;
	padding-left: 4px;
  opacity: 0.6;
  visibility: inherit;
	-webkit-transition: all .2s ease;
	transition: all .2s ease;

	&.current-fragment {
		border-left: 2px solid $headingColor;
		opacity: 1;
	}
}



hr {
	width: 50%;
	margin-left: 0;
	border: 1px solid #222;
}

.left-panel {
  position: absolute;
	pointer-events: none;
  top: 0;
  bottom: 0;
  left: 0;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+45,0+100 */
	background: -moz-linear-gradient(left, rgba(0,0,0,0.85) 20%, rgba(0,0,0,0.55) 70%, rgba(0,0,0,0.0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(0,0,0,0.85) 20%,rgba(0,0,0,0.55) 70%,rgba(0,0,0,0.0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(0, 0, 0, 0.85) 20%, rgba(0, 0, 0, 0.55) 70%, transparent 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	transition: 300ms;
}

.folded {
	width: 0;
}

.unfolded {
	width: 50%;
}

.slides
section {
	pointer-events: none !important;
}

.next-control {
	position: absolute;
	bottom: 0;
	right: 0;
	margin-right: 30px;
	margin-bottom: 30px;
}

.hidden {
	font-size: 0;
	display: none;
}

.navigation {
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
	& > i {
		border-color: $headingColor;
	}
	&:hover > i {
		border-color: $mainColor;
	}
	&.has-dark-background {
		& > span > i {
			border-color: $headingColor;
		}
		&:hover > span > i {
			border-color: $lightMainColor;
		}
	}
}

.navigation-note {
	margin-right: 15px;
	font-family: $mainFont;
	color: $mainColor;
	text-align: right;
	width: 300px;
	transition: 300ms;
}

i.arrow {
	border-style: solid;
	border-width: 0 3px 3px 0;
	padding: 15px;
	position: absolute;
	top: 33px;
	right: 39px;
	transition: 300ms;
}

i.arrow.right {
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}

i.circle {
	display: block;
	width:90px;
	height:90px;
	-webkit-border-radius: 60px;
	border-radius: 60px;
	border-width: 4px;
	border-style: solid;
	background: transparent;
	transition: 300ms;
}

.background-control {
	position: absolute;
	top: 0;
	right: 0;
	margin-right: 30px;
	margin-top: 40px;
}

.onoffswitch {
    position: relative;
		width: 98px;
    -webkit-user-select:none;
		-moz-user-select:none;
		-ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    height: 30px; padding: 0; line-height: 30px;
    border: 4px solid $headingColor; border-radius: 30px;
    background-color: transparent;
    transition: border-color 0.3s ease-in;
}
.onoffswitch-label:before {
    content: "";
    display: block; width: 30px; margin: 0px;
    background: transparent;
    position: absolute; top: 0; bottom: 0;
    right: 60px;
    border: 4px solid $headingColor; border-radius: 35px;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label {
    border-color: $mainColor;
}
.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
   border-color: $mainColor;
}
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
  right: 0px;
}

#warning-message { display: none; }
@media only screen and (orientation:portrait){
		#warning-message { display:block; }
		.show-when-landscape { display: none; }
}
@media only screen and (orientation:landscape){
		#warning-message { display:none; }
}
